*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
    margin: 2rem 0;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

h4, p{
    font-size: 12px;
}

p{
    color: gray;
    margin-top: .5rem;
}

body{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}

section{
    width: 85%;
    max-width: 48rem;
    margin: 0 auto;
}

/* form styles */

form{
    display: flex;
    margin-top: 2rem;
}

input{
    height: 50px;
    border-radius: 25px;
    border: 1px solid lightgray;
    flex-grow: 1;
    padding: 0 2rem;
    margin-right: .5rem;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: lightgray;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover{
    background: cornflowerblue;
}

/* end form styles */

#results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    list-style-type: none;
}

.movie img{
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.movie-details{
    padding: 0 1rem;
}

.foot{
    position: absolute;
    width: 100%;
    text-align: center;
    color: lightgray;
    bottom: 1rem;
}

@media screen and (max-width: 48rem){
    #results{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 37.5rem){
    #results{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}